.abheader {
  color: #000;
  text-align: center;
  margin-top: 200px;
  font-size: 45px;
}
.fa {
  text-decoration: none;
  margin-top: 15px;
}
a.fa.fa-twitter,
a.fa.fa-instagram,
a.fa.fa-github,
a.fa.fa-google {
  font-size: 30px;
  color: #000;
  width: 65px;
  text-align: center;
}
p {
  color: #000;
  font-size: 25px;
  text-align: left;
  margin-left: 85px;
  margin-right: 85px;
  text-indent: 35px;
}
.social {
  text-align: center;
}
