.abheader {
  color: #000;
  text-align: center;
  margin-top: 200px;
  font-size: 45px;
}
.fa {
  text-decoration: none;
  margin-top: 15px;
}
a.fa.fa-twitter,
a.fa.fa-instagram,
a.fa.fa-github,
a.fa.fa-google {
  font-size: 30px;
  color: #000;
  width: 65px;
  text-align: center;
}
p {
  color: #000;
  font-size: 25px;
  text-align: left;
  margin-left: 85px;
  margin-right: 85px;
  text-indent: 35px;
}
.social {
  text-align: center;
}
@media (max-width: 1400px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
  .moabheader {
    color: #000;
    font-size: 31px;
    text-align: center;
  }
  .moabparag {
    color: #000;
    text-align: left;
    text-indent: 20px;
    margin-left: 20px;
    margin-right: 0;
    font-size: 20px;
  }
  .mosocial {
    margin: 20px 10px 0 10px;
  }
  .msocial {
    text-align: center;
  }
  .btn {
    margin-left: 35px;
    background-color: #fff;
    border: none;
    font-size: 27px;
    position: absolute;
    margin-top: 5px;
    right: 15px;
  }
  .donno {
    display: inline-flex;
  }
  .donno2 {
    margin-left: 11px;
  }
  .fa-home {
    margin-top: 0;
  }
}
