body {
  font-family: "Indie Flower", cursive;
  color: #fff;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background: url(../images/richard-de-ruijter-jszEdbsDy2k-unsplash.jpg) left;
}

.right {
  right: 0;
  background-color: #fff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  width: 88%;
  border-radius: 20px;
  box-shadow: 20px 20px rgb(0 0 0 / 5%);
  height: 525px;
  object-fit: cover;
}
.header {
  border-right: 2px solid #fff;
  width: 91px;
}
.sideheader,
.header {
  display: inline-flex;
  margin: -4px -42px 0 50px;
  font-size: 18px;
}
.navbar {
  position: absolute;
  top: 2%;
  right: -10px;
}
ul.barul {
  list-style: none;
  display: flex;
}
a.navlink {
  margin-right: 70px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  position: relative;
  display: inline-block;
}
a.navlink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a.navlink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 1400px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
  img.mobileimg {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 20px 20px rgb(0 0 0 / 5%);
  }
  .moheader,
  .moheader2 {
    color: #000;
    font-size: 15px;
    display: inline-flex;
    margin-left: 5px;
  }
  .moheader {
    border-right: 2px solid #000;
    width: 70px;
  }
}
