.firstparag {
  font-size: 70px;
  margin: 200px 0 0 275px;
  color: #000;
}
.secondparag {
  margin: -12px 0 0 275px;
  color: #000;
}
.button,
.button2 {
  width: 435px;
  height: 50px;
  border-radius: 8px;
  margin-left: 39px;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  word-spacing: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.button:hover,
.button2:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: 0.3s;
  cursor: pointer;
}
.button {
  margin-top: 320px;
}
.button2 {
  margin-top: 30px;
}
.fa {
  text-decoration: none;
  margin-top: 100px;
}
a.fa.fa-twitter,
a.fa.fa-instagram,
a.fa.fa-github,
a.fa.fa-google {
  font-size: 30px;
  color: #000;
  width: 65px;
  text-align: center;
}

@media (max-width: 1400px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
  .mofirstparag {
    color: #000;
    font-size: 35px;
    text-align: center;
    margin-top: 22px;
  }
  .mosecondparag {
    color: #000;
    text-align: center;
    margin-top: -35px;
  }
  .mobutton1,
  .mobutton2 {
    font-family: "Indie Flower", cursive;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    width: 69%;
    height: 39px;
    border-radius: 8px;
    font-size: 21px;
    margin: 55px auto 0 auto;
  }
  .btn {
    text-decoration: none;
  }
  .mobutton2 {
    margin-top: 30px;
  }
  .mosocial {
    margin: 50px 10px 0 10px;
  }
  .msocial {
    text-align: center;
  }
}
